<!DOCTYPE HTML> 
<html lang="zh-ch" xmlns="http://www.w3.org/1999/xhtml" xmlns:wb="http://open.weibo.com/wb">
<head>
  <title>{{ page.title }}{% if page.title != site.title %} | {{ site.title }}{% endif %}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
  <meta name="author" content="{{ site.author.name }}" />
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  
  <!-- using baidu cdn instead
  <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  -->
  <link href="http://libs.baidu.com/bootstrap/2.0.4/css/bootstrap.min.css" rel="stylesheet">


  <!-- Google Prettify -->
  <link href="{{ ASSET_PATH }}/google-code-prettify/desert.css" rel="stylesheet" type="text/css" media="all"> 
  <!-- Google Pretty end -->

  <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <!-- using baidu cdn instead
  <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
  -->
  
  <script src="http://libs.baidu.com/jquery/1.9.0/jquery.min.js"></script>
</head>

<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="{{ HOME_PATH }}">{{ site.address }}</a>
        <ul class="nav">
          <li><a href="/archive.html">Archive</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/messages.html">Messages</a></li>
        </ul>
        <ul class="pull-right">
          <li>
            <form class="navbar-search" method="get" action="http://www.google.com/search" target="google_window">
              <input id="g_search" type="text" class="search-query" placeholder="Search..." name="q" />
              <input type="submit" name="btnG" style="display:none" id="searchsubmit" value="Search" />
              <input type="hidden" name="ie" value="UTF-8" />
              <input type="hidden" name="oe" value="UTF-8" />
              <input type="hidden" name="hl" value="zh-CN" />
              <input type="hidden" name="domains" value="http://EverCoding.net/" />
              <input type="hidden" name="sitesearch" value="http://EverCoding.net/" />
            </form>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="/atom.xml">RSS</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container page-container">
    <div class="content">
      {{ content }}
    </div>

    <footer>
        <p>&copy; {{ site.author.name }} {{ site.start_year }} <span id="now_year"></span>
        </p>
        <script type="text/javascript">
          var now_year = new Date().getFullYear();
          if (now_year != {{ site.start_year }}) {
              $('#now_year').html('- ' + now_year);
          }
        </script>
      </footer>
  </div>
  
  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="{{ ASSET_PATH }}/google-code-prettify/prettify.js"></script>
  <script type="text/javascript">
    $(function() {

      $('a[href^="http"]').each(function () {
        $(this).attr('target', '_blank');
      });
      
      $('pre').addClass('prettyprint linenums').attr('style', 'overflow:auto');
      window.prettyPrint && prettyPrint();

      function traverse($node, len, maxCount) {
        var reachMaxCount = len > maxCount;
        if (reachMaxCount) {
          $node.hide();
        }
        var $contents = $node.contents();
        for (var i = 0; i < $contents.length; ++i) {
          if (reachMaxCount) {
            $contents.eq(i).hide();
            continue;
          }
          if ($contents[i].nodeType == 3) { // TextNode
            var tmp = len;
            var s = $contents[i].nodeValue;
            len += s.length;
            reachMaxCount = len > maxCount;
            if (reachMaxCount && $contents[i].parentNode.nodeName != 'A') {
              $contents[i].nodeValue = s.substring(0, maxCount - tmp);
            }
          }
          else if ($contents[i].nodeType == 1) { // Element
            len = traverse($contents.eq(i), len, maxCount);
          }
        }
        return len;
      }

      $('.post_at_index').each(function() {
        var count = traverse($(this), 0, {{ site.description_length }});
        if (count > {{ site.description_length }}) {
          var thisUrl = $(this).siblings().first().children().attr('href');
          $(this).after('\n<a href="' + thisUrl + '" rel="nofollow">' + 'Read More ...</a>');
        }
      });
    });
  </script>
  {% include JB/analytics %}
</body>
</html>
