html {
    font-family: Geogia, "Microsoft Yahei", sans-serif;
    font-size: 14px;
}

.candidate-box {
    position: relative;
}

.candidate-box:before,
.candidate-box:after {
    content: "";
    display: table;
}

.candidate-box:after {
    clear: both;
}

.tag {
    padding: 2px 3px;
    margin: 3px;
    display: inline-block;
    cursor: pointer;
}

.candidate {
    background: #eee;
    color: #555;
}

.candidate:hover {
    background: #e8e8e8;
}

.tag.candidate.selected {
    background: #D4EDFF;
}

.filter {
    background: #21C4FF;
    color: #333;
}

.result-box {
    margin: 3px;;
    padding: 0;
}

.result-box > li {
    font-size: 16px;
    line-height: 24px;
}

.result-box > li > a {
    color: #00A8FF;
    text-decoration: none;
}

.result-box > li > a:hover {
    color: #0086DD;
    text-decoration: underline;
}

.result-box > li > span {
    font-size: 0.9em;
    color: silver;
    margin-left: 10px;
}
