<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>

<div class="row-fluid page-body">
  <div class="span9 left">
    <div class="main-container shadow">
      <div class="mainbody thepost">
        {{ content }}
      </div>
    </div>

    <div class="main-container shadow">
      <div class="mainbody">
        {% include ever/share %}
        {% assign post = page %}
        {% include ever/post_end %}

        <div class="pagination">
          <ul>
          {% if page.previous %}
            <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
          {% else %}
            <li class="prev disabled"><a>&larr; Previous</a></li>
          {% endif %}
            <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
          {% if page.next %}
            <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
          {% else %}
            <li class="next disabled"><a>Next &rarr;</a>
          {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="main-container shadow">
      <div class="mainbody">
        <button class="btn-primary btn-small" id="show_disqus">Show Comments</button>
        <script type="text/javascript">
          $(function() {
            $('#show_disqus').click(function() {
              var s = '<div id="disqus_thread"></div><script type="text/javascript">';
              s += '{% if site.safe == false %}var disqus_developer = 1;{% endif %}';
              s += "var disqus_shortname = '{{ site.JB.comments.disqus.short_name }}';";
              s += "{% if page.wordpress_id %}var disqus_identifier = '{{page.wordpress_id}} {{site.production_url}}/?p={{page.wordpress_id}}';{% else %} var disqus_identifier = '{{ page.url }}';{% endif %}";
              s += "var disqus_url = '{{ site.production_url }}{{ page.url }}';"
              s += "(function() {var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);})();";
              s += '</' + 'script>';
              $('#show_disqus').after('<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>').after('<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>').after(s).hide();
            });
          });
        </script>
      </div>
    </div>

  </div>

  <div class="span3 right">
    <div class="side-container shadow">
      <div class="sidebar">
        <h4>Published</h4>
        <div class="date"><span>{{ page.date | date: "%Y-%m-%d" }}</span></div>
      </div>
    </div>

    <div class="side-container shadow">
      <div class="sidebar">
        {% unless page.tags == empty %}
          <h4>Tags</h4>
          <ul class="tag_box">
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
          </ul>
        {% endunless %}
      </div>
    </div>

    <div class="side-container shadow">
      <div class="sidebar">
        <script type="text/javascript" id="wumiiRelatedItems"></script>
      </div>
    </div>

  </div>
</div>

{% assign tags_list = page.tags %}
{% include ever/related_posts %}