---
layout: page
title : "Archive"
header : Post Archive
group: navigation
---

<style>
    .timeline-container {
        margin: 20px 0;
        position: relative;
    }
    
    .timeline-container:before {
        content: ' ';
        width: 4px;
        margin-left: -2px;
        top: 10px;
        background-color: #e9f0f5;
        height: 100%;
        position: absolute;
    }
    
    .timeline-block {
        margin: 10px;
        position: relative;
    }
    
    .timeline-block:before {
        content: ' ';
        width: 16px;
        height: 16px;
        margin-left: -8px;
        margin-top: 0px;
        border-radius: 8px;
        background-color: #c7c8d3;
        position: absolute;
        top: 10px;
    }
    
    .timeline-block:after {
        content: ' ';
        display: table;
        clear: both;
    }
    
    .timeline-content {
        padding: 10px;
        background-color: #e9f0f5;
        position: relative;
    }
    
    .timeline-content:before {
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        top: auto;
    }
    
    @media (min-width: 48em) {
        .timeline-container:before {
            left: 50%;
        }
        
        .timeline-block:before {
            left: 50%;
        }
        
        .timeline-content {
            width: 47%;
        }
        
        .timeline-block:nth-child(even) .timeline-content {
            float: right;
        }
        
        .timeline-block:nth-child(odd) .timeline-content {
            text-align: right;
            float: left;
        }
        
        .timeline-block:nth-child(odd) .timeline-content:before {
            border-left: 8px solid #e9f0f5;
            margin-left: 10px;
        }
        
        .timeline-block:nth-child(even) .timeline-content:before {
            border-right: 8px solid #e9f0f5;
            margin-left: -18px;
        }
    }
    
    @media (max-width: 48em) {
        .timeline-container {
            padding-left: 15px;
        }
        
        .timeline-block:before {
            margin-left: -18px;
        }
        
        .timeline-content {
            margin: 15px 20px;
            margin-right: 0;
        }
        
        .timeline-content:before {
            border-right: 8px solid #e9f0f5;
            margin-left: -18px;
        }
    }
    
    .timeline-content a {
        color: #555;
        font-weight: normal;
    }
    
    .tc-title {
        font-size: 1.2rem;
    }
    
    .tc-tags {
        font-size: .8rem;
    }
    
</style>

<div class="timeline-container">
    {% for post in site.posts %}
        <div class="timeline-block">
            <div class="timeline-content">
                <div class="tc-date">{{ post.date | date: "%Y-%m-%d" }}</div>
                <div class="tc-title"><a href="{{ post.url | prepand: site.baseurl }}">{{ post.title }}</a></div>
                <div class="tc-tags">
                    <i class="fa fa-tags"></i>
                    {% for tag in post.tags %}
                        <a href="{{ site.tags_path | prepand: site.baseurl }}#{{ tag }}">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
