---
layout: page
title : "Archive"
header : Post Archive
group: navigation
---

<div class="timeline-container">
    {% for post in site.posts %}
        <div class="timeline-block">
            <div class="timeline-content">
                <div class="tc-date">{{ post.date | date: "%Y-%m-%d" }}</div>
                <div class="tc-title"><a href="{{ post.url | prepand: site.baseurl }}">{{ post.title }}</a></div>
                <div class="tc-tags">
                    {% for tag in post.tags %}
                        <a href="{{ site.tags_path | prepand: site.baseurl }}#{{ tag }}">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
