---
layout: page
title: Categories
header: Posts By Category
group: no-navigation
---
{% include JB/setup %}

<ul class="tag_box inline">
  {% assign categories_list = site.categories %}
  {% include JB/categories_list %}
</ul>


{% for category in site.categories %} 
  <h3 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h3>
  <ul class="post">
    {% assign pages_list = category[1] %}  
    {% include JB/pages_list %}
  </ul>
{% endfor %}

<style type="text/css">
  .showing a { color: #000; font-weight: bold; background-color: #aaa; }
</style>

<script type="text/javascript">
  $(function() {
    var $categories = $('h3');
    var $posts = $('.post');
    var $tab = $('ul.tag_box');
    var h = window.location.hash;
    if (h == null) {
      $categories.hide().first().show();
      $posts.hide().first().show();
      $tab.children().first().addClass('showing');
    }
    else {
      h = h.substring(1);
      for (var i = $categories.length - 1; i >= 0; --i) {
        if ($categories.eq(i)[0].id == h) {
          $categories.hide().eq(i).show();
          $posts.hide().eq(i).show();
          $tab.children().eq(i).addClass('showing')
          break;
        }
      }
      
    }
    $('ul.tag_box').children().each(function(index) {
      $(this).click(function() {
        $categories.hide().eq(index).show();
        $posts.hide().eq(index).show();
        $(this).addClass('showing').siblings().removeClass('showing');
        // return false;
      });
    });
  });
</script>

