---
layout: page
title: Tags
header: Posts By Tag
group: no-navigation
theme: pure
---

<link rel="stylesheet" href="{{ '/static/css/tags.1.0.0.css' | prepend: site.baseurl }}">
<div id="root"></div>
<script>
    var tags = [
        {% for tag in site.tags %}
            {
                text: '{{ tag[0] }}',
                freq: {{ tag[1].size }},
                posts: [
                    {% for post in tag[1] %}
                        {
                            title: '{{ post.title }}',
                            url: '{{ BASE_PATH }}{{ post.url }}',
                            date: '{{ post.date | date: "%Y-%m-%d" }}'
                        },
                    {% endfor %}
                ]
            },
        {% endfor %}
    ];
</script>
<script src="{{ '/static/js/tags.1.0.0.js' | prepend: site.baseurl }}"></script>
