---
layout: page
title: Tags
header: Posts By Tag
group: no-navigation
theme: pure
---
{% include JB/setup %}

<svg class="cloud" style="width:100%;height:50vh;">
    <g></g>
</svg>
<div class="tag_posts">
</div>

<script src="assets/themes/pure/lib/d3/d3.js"></script>
<script src="assets/themes/pure/lib/d3/d3.layout.cloud.js"></script>

<script>
    var tags = [
        {% for tag in site.tags %}
            {
                tag: '{{ tag[0] }}',
                freq: {{ tag[1].size }},
                posts: [
                    {% for post in tag[1] %}
                        {
                            title: '{{ post.title }}',
                            url: '{{ BASE_PATH }}{{ post.url }}',
                            date: '{{ post.date | date: "%Y-%m-%d" }}'
                        },
                    {% endfor %}
                ]
            },
        {% endfor %}
    ];

    var minSize = 24, maxSize = 48;
    var minFreq = 1;
    var maxFreq = tags.reduce(function(memo, tag) {
        if (tag.freq > memo) {
            memo = tag.freq;
        }
        return memo;
    }).freq;
    var width = $('.cloud').width(), height = $('.cloud').height();
    console.log(width, height);
    var fill = d3.scale.category10();

    function scale(freq, minFreq, maxFreq, minSize, maxSize) {
        return minSize + Math.floor((freq - minFreq) / (maxFreq - minFreq) * (maxSize - minSize));
    }

    function showPosts(tagContent) {
        var tag = tags.filter(function(e) { return e.tag == tagContent; });
        if (tag.length == 0) {
            return;
        }
        tag = tag[0];
        var $ul = $('<ul></ul>').append(tag.posts.map(function(post) {
            var $li = $('<li></li>');
            $li.html(post.date + ' - ' + '<a href="' + post.url + '">' + post.title + '</a>');
            return $li;
        }));
        $('.tag_posts').slideUp('normal', function(e) {
            $('.tag_posts').empty().append($('<div class="tag_title">' + tagContent + '</div>')).append($ul).slideDown('normal');
        });
    }

    function draw(words) {
        d3.select('.cloud g')
            .selectAll('text')
            .data(words)
            .enter()
            .append('text')
            .style('font-size', function(d) {
                return d.size + 'px'
            })
            .style('fill', function(d, i) {
                return fill(i);
            })
            .style('font-weight', function(d) {
                return 'bold';
            })
            .style('font-family', 'Microsoft YaHei')
            .style('cursor', 'pointer')
            .text(function(d) {
                console.log(d.text, d.x, d.y, '.cloud g');
                return d.text;
            })
            .attr('x', 0)
            .attr('y', 0)
            .on('mouseover', function(d) {
                d3.select(this).style('opacity', '0.5');
            })
            .on('mouseout', function(d) {
                d3.select(this).style('opacity', '1');
            })
            .on('click', function(d) {
                showPosts(d.text);
            });
        d3.selectAll('.cloud g text')
            .attr('transform', 'rotate(0)')
            .transition()
            .attr('transform', function(d) {
                console.log(d.text, d.x, d.y);
                return 'translate(' + [d.x, d.y] + ')rotate(' + d.rotate + ')';
            });
        d3.select('.cloud g')
            .attr('transform', 'rotate(0)')
            .transition()
            .attr('transform', 'translate(' + [width * 0.4, height / 2] + ')');
    }

    d3.layout.cloud()
        .size([width, height])
        .words(tags.map(function(d) {
            console.log('map', d.tag);
            return {
                text: d.tag,
                freq: d.freq
            };
        }))
        .padding(5)
        .rotate(function() {
            return 0;
        })
        .font('Microsoft YaHei')
        .fontSize(function(d) {
            return scale(d.freq, minFreq, maxFreq, minSize, maxSize);
        })
        .on('end', draw)
        .start();

    if (location.hash != '') {
        showPosts(location.hash.substring(1));
    }

</script>