* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: "Microsoft Yahei", sans-serif, serif;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);

    &:hover, &:focus {
        text-decoration: underline;
    }
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3rem auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.nav {
    & > ul {
        margin: 0;
        padding: 0;
        list-style: 0;
        font-size: 1.3rem;

        & > li {
            padding: 0.2rem 0;

            & > a {
                background: transparent;
                color: #fff;
                margin-top: 1rem;
                letter-spacing: 0.05rem;

                &:hover, &:focus {
                    color: #ccc;
                    text-decoration: none;
                }
            }
        }
    }
}

.content {
    padding: 2rem 1rem 0;
}

.post-glance,
.post {
    padding-bottom: 2rem;

    .post-title {
        font-size: 2.2rem;
        margin-bottom: 0.2rem;
        margin-top: .3rem;
        
        & > a {
            color: #333;
        }

        & > a:hover, & > a:focus {
            color: #444;
        }

        & > span {
            font-size: 0.7em;
            color: #aaa;
        }
    }

    .post-meta {
        color: #999;
        font-size: 90%;
        margin: 0;
    }

    .post-content {
        font-family: Georgia, "Cambria", serif;
        color: #444;
        line-height: 1.8rem;
    }
}

.post-glance {
    padding-bottom: 0;
}

.footer {
    text-align: center;
}

.divider {
    margin: 3rem -50%;
    border-top: 1px solid #333;
    height: 0;
}

.divider-dashed {
    border-top-style: dashed;
}


@media (min-width: 48rem) {
    .content {
        padding: 2rem 3rem 0;
        margin-left: 20%;
    }

    .header {
        margin: 80% 1.5rem 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}