<script type="text/javascript">
    var now_year = new Date().getFullYear();
    if (now_year != {{ site.start_year }}) {
        $('#now_year').html('- ' + now_year);
    }
    // function prettyPrintCode() {
    //     // $('pre').addClass('prettyprint linenums').css('overflow-x', 'auto');
    //     $('pre').addClass('prettyprint').css('overflow-x', 'auto');
    //     window.prettyPrint && prettyPrint();
    // }
    $(function() {
        $('#toggle-nav').hide();
        $('#menu-btn').click(function() {
            $('#toggle-nav').slideToggle();
        });
        // prettyPrintCode();
    });
</script>