<section class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }} <span class="post-tagline">{{ page.tagline }}</span></h1>
        <p class="post-meta">
            post by {{ site.author.name }} at {{ page.date | date: '%Y-%m-%d' }} with tags {% for tag in page.tags %}<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref" rel="nofollow">{{ tag }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
        </p>
    </header>
    <div class="post-content">
        {{ content }}
    </div>
</section>

<!-- 多说评论框 start -->
<div id="ds-comment" class="ds-thread" data-thread-key="{{ page.url }}" data-title="{{ page.title }}" data-url="{{ site.production_url }}{{ page.url }}"></div>
<!-- 多说评论框 end -->