<section class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">
            post by {{ site.author.name }} at {{ page.date | date: '%Y-%m-%d' }} with tags {% for tag in page.tags %}<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}" rel="nofollow">{{ tag }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
        </p>
    </header>
    <div class="post-content">
        {{ content }}
    </div>
</section>
<section>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" title="本文采用知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议进行许可"><img src="/static/img/lisence.png" alt="许可协议"/></a>
</section>
{% include JB/comments %}
