body {
    /*background-image: url(../img/bg.gif);*/
    background-color: #eee;
}

.left {
    width: 70.468% !important;
}

.right {
    width: 27.404% !important;
}

.shadow {
    -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
}

#g_search {
    border-radius: 20px;
}

#g_search:focus {
    box-shadow: none;
    border: 1px solid #ccc;
}

.container::after {
    clear: none;
}

.thepost a {
    padding-right: 13px;
    background: url(../img/link.gif) no-repeat right -2px;
}

.thepost a:hover {
    background: url(../img/link.gif) no-repeat right -19px;
}

.page-header {
    margin: auto;
    padding: 3px 5px 3px 5px;

}

.page-header h1 {
    /*color: #000;*/
}

.page-container {
    /*background-image: url(../img/white_bg.png);*/
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    /*padding: auto 20px;*/

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.main-container {
    background-color: #fff;
    margin-bottom: 10px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

}

.mainbody {
    padding: 15px 10px;
    margin: 5px;
}

.side-container {
    background-color: #fff;
    margin-bottom: 10px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.sidebar {
    padding: 15px 10px;
    margin: 5px;
}

footer {
    text-align: center;
    color: #000;
}

.tag_box a {
    margin: 1px 0;
}

.tag_box a span {
    vertical-align: super;
    font-size: 0.8em;
}

.post-end {
    padding-top: 15px;
    /*margin-top: 145px;*/
}

pre::-webkit-scrollbar {
    height: 12px;
    background-color: #555;
}
/* 滚动槽 */
pre::-webkit-scrollbar-track {
    /*border: 2px white;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    border-radius: 0 0 3px 3px;
}
/* 滚动条滑块 */
pre::-webkit-scrollbar-thumb {
    border-radius: 3px 3px 3px 3px;
    background: rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

code {
    color: #008000; // green
    border: 0px solid #eee;
    border: none;
    padding: 0 3px;
}